<head>
<style>
  .table{
    background-color: #0088cc;
    padding: 5px;
    margin-right: auto;
    margin-left: auto;
    color: white;
  }
  td{
    background-color: #ffffff;
    padding: 5px;
    color: black;
    text-align: left;
  }
  #data{
    padding: 5px;
    font-size: 15px;
  }
  #heading{
    text-align: right;
  }
</style>
</head>

<div class='dashboard-content'>
<div class='page-header'>
  <center>
    <%= form_for @com do |f| %>
    <% if @com.errors.any? %>
      <% @com.errors.full_messages.each do |msg| %>
        <%= msg %>
        <br />
      <% end %>
    <% end %>
    <table>
    <tr><td><h3 id = "heading">Company Name :</h3></td>
      <td id="data"><%= f.text_field :name, :id => "user_email",  :size => "20"%></td></tr>
    <tr><td><h3 id = "heading">Description :</h3></td>
      <td id="data"><%= f.text_area :description, :placeholder => "Description", :size => "20" %></td></tr>
    <tr><td><h3 id = "heading">Address :</h3></td>
      <td><%= f.text_field :address, :class => "table", :size => "20" %></td></tr>
    </table>
    <%= f.submit "", :class => "btn btn-primary", :value => "Update Info"%>
</center>
<% end %>
</div>
</div>