<head>
<style>
  .table{
    background-color: #0088cc;
    padding: 5px;
    margin-right: auto;
    margin-left: auto;
    color: white;
  }
  td{
    background-color: #ffffff;
    padding: 5px;
    color: black;
    text-align: left;
  }
  #data{
    padding: 5px;
    font-size: 15px;
  }
  #heading{
    text-align: right;
  }
  #amazing{
    background-color: blue;
  }
</style>
</head>

<div class='dashboard-content'>
<div class='page-header'>
  <center>
    <%= form_for @mem, :id => "amazing" do |f| %>
    <% if @mem.errors.any? %>
      <% @mem.errors.full_messages.each do |msg| %>
        <%= msg %>
        <br />
      <% end %>
    <% end %>

    <table>

      <tr><td><h3 id = "heading">Profile Picture :</h3></td>
        <td id="data"><%= f.file_field :photo %></td></tr>

      <tr><td><h3 id = "heading">Username :</h3></td> 
        <td id="data"><%= current_user.username %></td></tr>

      <tr><td><h3 id = "heading">Email Address :</h3></td>
        <td id="data"><%= current_user.email %></td></tr>

      <tr><td><h3 id = "heading">First Name :</h3></td>
        <td id="data"><%= f.text_field :firstname, :id => "user_email", :placeholder=>"Enter First Name", :size => "20"%></td></tr>

      <tr><td><h3 id = "heading">Last Name :</h3></td>
        <td id="data"><%= f.text_field :lastname, :id => "user_email", :placeholder=>"Enter Last Name", :size => "20" %></td></tr>

      <tr><td><h3 id = "heading">Date of Birth :</h3></td>
        <td><%= f.text_field :dob, :class => "table", :placeholder => "YYYY - MM - DD", :size => "20" %></td></tr>

    </table>
    <%= f.submit "", :class => "btn btn-primary", :value => "Update Info"%>
</center>
<% end %>
</div>
</div>